*{
	padding: 0px;
	margin:0px;
}
a{
	text-decoration: none;
	margin:5px 30px;
}
.baner{
	background-image:url("../img/dance_7.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height:480px;
	margin-top: 12px;
}
.def{
	margin:30px auto;
	width: 35%;
	height: 40%;
	background-color:black;
	opacity: 0.5;
	position: relative;
    top: 30%;
    padding: 1%;
}
.separador{
	width: 100%;
	margin:6px auto;
	border:1px solid gray;
}
.pilar{
	padding:8% 3%;
}
.pilares{
	background-image:url("../img/tile2.png");
	background-repeat: repeat;
}
.tamaño{
	font-size: 12px;
}
.otrafrase{
	background-image:url("../img/cubes.png");
	background-repeat: repeat;
	height: 230px;
}
.boton{
	background-color:#192951;
	padding:19px 110px;
	display:block;
	margin:2px auto;
	color:white;
	border:0;
}
.nombre{
	background-image:url("../img/shoes_1.jpg");
	background-repeat:no-repeat;
	background-position-x: 261px;
	margin:0 auto;
}
.over{
	overflow: hidden;
	height: 165px;
}
.over img{
	width: 100%;
}
.ubic{
	color: black;
	position: relative;
}
.ubic input[type=text] {
	border: none;
	border:1px solid #BCBCBC;
	height: 40px;
	width: 250px;
	padding:0 2em;
	font-size: 1em;
	margin:5px auto;
}	

.ubicesp:before {
position: absolute;
  top: 12px;
  left:5px;
  font-size: 1.3em;	
}
.alto input[type=text]{
	padding-bottom: 8.5em;
	margin-bottom: 1em;
}
.form{
	    padding: 17px 155px 17px 115px;
	    margin:0;
}
footer{
	background-color:#192951;
	height: 90px;
	padding: 12px 20px;
}