@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?fplppk');
  src:  url('icomoon.eot?fplppk#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fplppk') format('truetype'),
    url('icomoon.woff?fplppk') format('woff'),
    url('icomoon.svg?fplppk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e971";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-skype:before {
  content: "\eac5";
}

